---
import SocialLink from "./SocialLink.astro";

const socials = [
  { icon: "mdi:twitter", href: "https://twitter.com/ryanbarleydev" },
  { icon: "mdi:github", href: "https://github.com/rmbarley" },
  { icon: "mdi:linkedin", href: "https://linkedin.com/in/rmbarley" },
];
---

<div class="flex justify-between w-5/6 mt-20 text-teal-300">
  {
    socials.map((social) => (
      <SocialLink icon={social.icon} href={social.href} />
    ))
  }
</div>
